
.quiz-container{
    width: 20rem;
    height: 30rem;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}

.quiz-container__main{
    display: flex;
    flex-direction: column;
}

.quiz-map{
    height: 15rem;
    width: 20rem;
}

.quiz-container__btn{
    background-color: blue;
    display: flex;
    flex-direction: row;
    height: 8rem;
    margin: 1rem;
    align-items: center;
    justify-content: center;
}

/* .div-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} */

.btn{
    height: 2.5rem;
    width: 5rem;
}

.input{
    height: 2rem;
    width: 5rem;
}

.quiz-list {
    margin: 0%;
    height: 8rem;
    overflow-y: scroll;
}

.quiz-list::-webkit-scrollbar {
    width: 12px;
}

.quiz-list::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.quiz-list::-webkit-scrollbar-thumb {
    background: #888;
}

.quiz-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.quiz-list::-webkit-scrollbar-button {
    display: none;
}

.quiz-list__item{
    list-style: none;
    background-color: #97bc8e;
    border:1px dotted red;
}