

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-section{
  text-align: center;
  border: 1px solid black;
  margin: 1em 0;
  padding: 1em;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  width: 15rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(192, 247, 190);
}

.login-form-section__input{
  width: 11rem;
  height: 2rem;
  border: solid 2px black;
}

.login-form-section__div{
  display: flex;
  margin: .5rem;
  justify-content: space-evenly; 
  align-items: center; 
  height: fit-content;
  width: 12rem;
}

.framed-div__button{
  background-color: rgb(236, 226, 214);
  border:1px solid green ;
  height: 2rem;
  border-radius: 2px;
}
.framed-div__button:hover{
  background-color: rgb(66, 187, 108);
}